.ctimage-container {
  display: flex;
  flex-direction: row;
  border: black solid 1px;
  padding: 10px;
}

.ctimage-buttons {
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
  width: 200px;
}

button {
  margin: 2px;
}
